<!DOCTYPE html>

<html>
	<head>
		<title>Lemonink</title>
	</head>
	<body>
		<h1>List of Topics:</h1>

		<table style="border: 1px black">
			<tr>
				<td>Topic</td>
				<td>Creation Date</td>
				<td>Replies</td>
			</tr>
			<tr>
				<td>Aqui</td>
				<td>Entra</td>
				<td>Uma lista de tópicos</td>
			</tr>
		</table>

		<form action="/topic˜" method="POST">
			<fieldset>
				<label>New Topic</label>

				Title:
				<input type="text" />
				
				<textarea></textarea>

				<input type="submit">
			</fieldset>
		</form>
	</body>
</html>
