<!DOCTYPE html>
<html ng-app="Lemonink">
	<head>
		<title>Lemonink</title>
		<link rel='stylesheet' href='/css/bootstrap.css' />
		<link rel='stylesheet' href='/css/style.css' />

		<script src='/js/angular.js'></script>
		<script src='/js/controller.js'></script>
		<script src='/js/service/topic.js'></script>
		<script src='/js/bootstrap.min.js'></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
	</head>
	<body>
		<h1>Lemonink</h1>
		<div ng-view>

		</div>
	</body>
</html>
