<!DOCTYPE html>
<html ng-app>
	<head>
		<title>{{ title }}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/javascripts/angular.js'></script>
		<script src='/javascripts/controllers.js'></script>
	</head>
	<body ng-controller="IndexController">
		<h1>{{ title }}</h1>

		<table border=1>
			<tr>
				<td>Topic</td>
				<td>Creation Date</td>
				<td>Author</td>
				<td>Replies</td>
			</tr>
			<tr ng-repeat="topic in topics">
				<td>
					<a href="/topic/{{topic.id}}">{{topic.title}}</a>
				</td>
				<td>{{topic.createdAt}}</td>
				<td>{{topic.createdBy}}</td>
				<td>{{topic.replyCount}}</td>
			</tr>
		</table>
	</body>
</html>
