<!DOCTYPE html>
<html ng-app="Lemonink">
	<head>
		<title>Lemonink</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/javascript/angular.js'></script>
		<script src='/javascript/controller.js'></script>
		<script src='/javascript/service/topic.js'></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
	</head>
	<body>
		<div ng-view>

		</div>
	</body>
</html>
